@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$font-stack: Verdana, sans-serif;
$primaryColor: #FF0000;

body {
  font-family: $font-stack;
  font-size: 1em;

  h1 {
    color: $primaryColor; 
  }
}

#team-members {
  clear: both;

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;

    img {
      width: 200px;
      height: 200px;

      /*-webkit-filter: grayscale(1);*/
      -webkit-filter: grayscale(100%);
      /*filter: grayscale(100%);
      filter: url(#greyscale);
      filter: gray;*/

      @include transition(-webkit-filter .3s ease);

      &:hover {
        /*-webkit-filter: grayscale(0);*/
        -webkit-filter: grayscale(0%);
        /*filter: grayscale(0%);
        filter: url(#greyscale);
        filter: gray;*/
      }
    }

    div.name {
      text-align: center;  
    }
  }
}